<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ttowang.ttowang">

    <permission
        android:name="com.app.ttowang.ttowang.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.ttowang.ttowang.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".Main.Login.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Login.Tel" >

        </activity>
        <activity android:name=".Main.Login.Login" />
        <activity
            android:name=".ModeChange.ChangeModeMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.Loading.Loading"
            android:screenOrientation="portrait" />
        <activity android:name=".Main.Business.business" />
        <activity android:name=".Main.Business.businessMap" />
        <activity
            android:name=".Main.Setting.myInfoEdit"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".ModeChange.MyShop.myBusinessCoupon.myBusinessCoupon"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessShop"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessMember.myBusinessMember"/>

        <activity
            android:name=".ModeChange.MyShop.myBusinessEvent.myBusinessEvent"/>

        <activity
            android:name=".Main.Home.stamp.ChangeCoupon.ChangeCoupon"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity
            android:name=".Main.Home.stamp.GiftStamp.GiftStamp"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:windowSoftInputMode="adjustNothing|stateVisible"/>

        <activity
            android:name=".ModeChange.MyShop.myBusinessCoupon.myBusinessCouponAdd"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:windowSoftInputMode="adjustNothing|stateVisible"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessCoupon.myBusinessCouponEdit"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:windowSoftInputMode="adjustNothing|stateVisible"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessShopSelectType"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessStoreAdd"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessStoreEdit"/>

        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessIndividualAdd"/>
        <activity
            android:name=".ModeChange.MyShop.myBusinessShop.myBusinessIndividualEdit"/>

        <activity
            android:name=".ModeChange.MyShop.myBusinessMember.myBusinessStaffAdd"/>

        <activity
            android:name=".Main.Home.HomeList.HomeList"/>

        <activity
            android:name=".ModeChange.Stamp.AddStamp.AddStampList"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <activity
            android:name=".ModeChange.Stamp.AddStamp.AddStamp"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
    </application>

</manifest>
